@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Witamy w systemie bankowym</h2>
    @if (!User.Identity.IsAuthenticated) { 
    <p class="lead">Aby korzystać z systemu wymagane jest aktywne konto użytkownika. </p>
    }
</div>

