@model IEnumerable<SysBank.BLL.Models.UsersModel>

@{
    ViewBag.Title = "View";
}

<h2>Registered users list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

    </tr>
}

</table>
